.App {
  text-align: center;
}

.background {
  background-color: #282c34;
  min-height: 100vh;
}

.main-content-container {
  margin-right: 15vw;
  margin-left:  15vw;
  padding-top: 5vh;
}

#tester {
  outline: 1px solid green;
}
